*{
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
    list-style: none;
}

body {
  display: flex;
  background-color: #e0f7fa; /* Light Blue */
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  width: 200px;
  background-color: #003366; /* Navy Blue */
  padding: 20px;
  color: white;
  border-right: 2px solid #00509e;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #00509e; /* Slightly lighter navy */
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: white; /* White card background */
  border-radius: 8px;
  margin: 20px;
  display: none;
  transition: opacity 0.3s ease-in-out, background-color 0.3s;
}

.content.active {
  display: block;
  opacity: 1;
}

.welcome-message {
  display: block;
}

.togglebutton {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Light Blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #00509e; /* Darker Light Blue */
}

/* Dark Mode */
body.dark-mode {
  background-color: #002147; /* Darker Navy */
  color: #e0f7fa;
}

.navbar.dark-mode {
  background-color: #001e3c;
}

.navbar.dark-mode a {
  color: #e0f7fa;
}

.navbar.dark-mode a:hover {
  background-color: #003366;
}

.content.dark-mode {
  background-color: #2c2c2c;
}

.toggle-button.dark-mode {
  background-color: #007bff;
  color: #fff;
}
